Repository k-yomo/invy, changes with the labels that .github/labeler.yml gives for each.
All labels: invy-api, app, graphql

.github/labeler.yml:

invy-api:
  - invy_api/**/*
app:
  - app/**/*
graphql:
  - defs/graphql/*

add require auth middleware
  invy_api/cmd/server/main.go
Labels: invy-api

Apply device middleware only for graphql endpoint
  invy_api/cmd/server/main.go
Labels: invy-api

Fix RequireAuthMiddleware middleware
  invy_api/internal/auth/middleware.go
Labels: invy-api

Set auth header for the image fetch request
  app/ios/Podfile.lock
  app/lib/router.g.dart
  app/lib/widgets/chat.dart
Labels: app

Always show bottom navigation
  app/lib/router.dart
Labels: app

Make font size of bottom navigation item smaller
  app/lib/router.dart
Labels: app

Add loading indicator to invitation screen and friends screen
  app/lib/router.dart
  app/lib/screens/friend/friends_screen.dart
  app/lib/screens/invitation/invitation_screen.dart
  app/lib/services/graphql_client.dart
  app/lib/util/logger.dart
  app/lib/widgets/invitation_list_item.dart
  app/pubspec.yaml
Labels: app

Update cache when user requested friendship
  app/lib/router.dart
  app/lib/router.g.dart
  app/lib/screens/friend/friend_group_detail_screen.dart
  app/lib/screens/friend/friend_group_detail_screen.graphql.dart
  app/lib/screens/friend/friends_screen.dart
  app/lib/screens/friend/friends_screen.graphql.dart
  app/lib/screens/user/user_friends_screen.dart
  app/lib/screens/user/user_friends_screen.graphql.dart
  app/lib/screens/user/user_profile_screen.dart
  app/lib/screens/user/user_profile_screen.graphql
  app/lib/screens/user/user_profile_screen.graphql.dart
  app/lib/services/graphql_client.dart
  app/lib/widgets/chat.dart
Labels: app

show distance from invtation sender in invitation card and detail
  app/lib/graphql/schema.graphql
  app/lib/screens/friend/friends_screen.dart
  app/lib/screens/invitation/invitation_detail_screen.dart
  app/lib/screens/invitation/invitation_detail_screen.graphql.dart
  app/lib/screens/invitation/invitation_screen.dart
  app/lib/screens/invitation/invitation_screen.graphql.dart
  app/lib/services/graphql_client.dart
  app/lib/util/logger.dart
  app/lib/widgets/invitation_detail_fragment.graphql
  app/lib/widgets/invitation_detail_fragment.graphql.dart
  app/lib/widgets/invitation_list_item.dart
  defs/graphql/invitation.graphql
  invy_api/graph/gqlgen/gqlgen.go
  invy_api/graph/gqlmodel/gqlmodel_gen.go
  invy_api/graph/invitation.resolvers.go
  invy_api/graph/loader/invitation_loader.go
  invy_api/graph/loader/loader.go
  invy_api/graph/user.resolvers.go
Labels: invy-api, app, graphql

Make it possible to jump to map screen from user profile
  app/lib/screens/user/user_friends_screen.graphql.dart
  app/lib/screens/user/user_profile_screen.dart
  app/lib/screens/user/user_profile_screen.graphql
  app/lib/screens/user/user_profile_screen.graphql.dart
Labels: app

Update invitation start display time
  app/lib/widgets/invitation_list_item.dart
Labels: app

Use go instead of push when to navigate user to map screen from user profile
  app/lib/screens/user/user_profile_screen.dart
Labels: app

Fix error handling
  app/lib/screens/friend/blocked_friends_screen.dart
  app/lib/screens/friend/friend_group_create_screen.dart
  app/lib/screens/friend/friend_group_edit_screen.dart
  app/lib/screens/friend/friendship_request_screen.dart
  app/lib/screens/invitation/invitation_detail_screen.dart
  app/lib/screens/invitation/invitation_form_screen.dart
  app/lib/screens/login/sign_up_screen.dart
  app/lib/screens/login/sms_login_verification_screen.dart
  app/lib/screens/profile/profile_edit_screen.dart
  app/lib/screens/user/user_friends_screen.dart
  app/lib/screens/user/user_profile_screen.dart
  app/lib/util/toast.dart
  app/lib/widgets/pending_friendship_request_list.dart
  app/lib/widgets/screen_wrapper.dart
Labels: app

Update style of user location button in user profile
  app/lib/screens/user/user_profile_screen.dart
Labels: app

Fix friend group create / edit
  app/lib/screens/friend/friend_group_create_screen.dart
  app/lib/screens/friend/friend_group_create_screen.graphql
  app/lib/screens/friend/friend_group_create_screen.graphql.dart
  app/lib/screens/friend/friend_group_edit_screen.dart
  app/lib/screens/friend/friend_group_edit_screen.graphql
  app/lib/screens/friend/friend_group_edit_screen.graphql.dart
  app/lib/screens/friend/friends_screen.dart
  app/lib/screens/friend/friends_screen.graphql
  app/lib/screens/friend/friends_screen.graphql.dart
  app/lib/screens/invitation/invitation_detail_screen.dart
  app/lib/screens/user/user_profile_screen.dart
  app/lib/widgets/friend_selection_list.dart
  app/lib/widgets/invitation_list_item.dart
Labels: app

Remove unused file
  invy_api/graph/temp.sql
Labels: invy-api

Add test-api-cover command to Makefile
  Makefile
Labels: none

Add tests for Filter func
  pkg/sliceutil/sliceutil_test.go
Labels: none

Add tests for uuid scalar
  invy_api/graph/scalar/uuid_test.go
Labels: invy-api

Update dependencies
  app/ios/Podfile.lock
  app/ios/Runner.xcodeproj/project.pbxproj
  app/lib/screens/friend/friend_qr_code_reader_screen.dart
  app/lib/screens/invitation/invitation_form_screen.dart
  app/lib/util/custom_date_time_picker.dart
  app/lib/widgets/friend_selection_list.dart
  app/macos/Flutter/GeneratedPluginRegistrant.swift
  app/pubspec.lock
  app/pubspec.yaml
  app/windows/flutter/generated_plugin_registrant.cc
  app/windows/flutter/generated_plugins.cmake
  go.mod
  go.sum
  invy_api/graph/scalar/uuid_test.go
Labels: invy-api, app

Update kotlin version
  app/android/build.gradle
Labels: app

Update go_router package
  app/lib/router.dart
  app/lib/router.g.dart
  app/lib/widgets/chat.graphql.dart
  app/linux/flutter/generated_plugin_registrant.cc
  app/linux/flutter/generated_plugins.cmake
  app/macos/Flutter/GeneratedPluginRegistrant.swift
  app/pubspec.lock
  app/pubspec.yaml
  app/windows/flutter/generated_plugin_registrant.cc
  app/windows/flutter/generated_plugins.cmake
Labels: app

Add screen shots in README
  README.md
Labels: none
