Repository k-yomo/invy, changes with the labels that .github/labeler.yml gives for each.
All labels: invy-api, app, graphql

.github/labeler.yml:

invy-api:
  - invy_api/**/*
app:
  - app/**/*
graphql:
  - defs/graphql/*

Fix to use zapdriver
  pkg/logging/logging.go
  pkg/logging/middleware.go
Labels: none

Update README
  README.md
Labels: none

Upgrade go version to 1.20
  README.md
  go.mod
  invy_api.Dockerfile
  tools/go.mod
  tools/go.sum
Labels: none

Fix trigger paths for invy-api workflow
  .github/workflows/invy-api.yml
Labels: none

Use make lint
  .github/workflows/invy-api.yml
Labels: none

Set longer timeout to lint-api command
  Makefile
Labels: none

Remove message from graphql extensions
  invy_api/graph/errorpresentor.go
Labels: invy-api

Download go modules
  .github/workflows/invy-api.yml
Labels: none

Use alias for cockroachdb/error to avoid being replaced by go generate
  invy_api/graph/auth.resolvers.go
  invy_api/graph/chat.resolvers.go
  invy_api/graph/errorpresentor.go
  invy_api/graph/friend_group.resolvers.go
  invy_api/graph/gqlmodel/gqlmodel_gen.go
  invy_api/graph/invitation.resolvers.go
  invy_api/graph/push_notification.resolvers.go
  invy_api/graph/resolver.go
  invy_api/graph/schema.resolvers.go
  invy_api/graph/user.resolvers.go
  invy_api/graph/user_location.resolvers.go
  invy_api/graph/user_relation.resolvers.go
Labels: invy-api

Store user location history
  app/lib/graphql/schema.graphql
  app/lib/graphql/schema.graphql.dart
  invy_api/ent/client.go
  invy_api/ent/config.go
  invy_api/ent/ent.go
  invy_api/ent/gql_collection.go
  invy_api/ent/gql_edge.go
  invy_api/ent/gql_node.go
  invy_api/ent/gql_pagination.go
  invy_api/ent/hook/hook.go
  invy_api/ent/intercept/intercept.go
  invy_api/ent/migrate/schema.go
  invy_api/ent/mutation.go
  invy_api/ent/predicate/predicate.go
  invy_api/ent/runtime.go
  invy_api/ent/schema/user_location_history.go
  invy_api/ent/tx.go
  invy_api/ent/userlocationhistory.go
  invy_api/ent/userlocationhistory/userlocationhistory.go
  invy_api/ent/userlocationhistory/where.go
  invy_api/ent/userlocationhistory_create.go
  invy_api/ent/userlocationhistory_delete.go
  invy_api/ent/userlocationhistory_query.go
  invy_api/ent/userlocationhistory_update.go
  invy_api/graph/user_location.resolvers.go
Labels: invy-api, app

Refactor logging and tracing
  go.mod
  go.sum
  invy_api/cmd/server/main.go
  pkg/logging/logging.go
  pkg/tracing/tracing.go
Labels: invy-api

Propagate tracing
  go.mod
  go.sum
  invy_api/cmd/server/main.go
  pkg/tracing/tracing.go
Labels: invy-api

Apply http opentelemetry middleware
  invy_api/cmd/server/main.go
  pkg/tracing/graphql.go
  pkg/tracing/http.go
Labels: invy-api

Use otelsql
  go.mod
  go.sum
  invy_api/cmd/server/main.go
Labels: invy-api

Add missing error handling
  invy_api/cmd/server/main.go
Labels: invy-api

Add sqlcomment
  go.mod
  go.sum
  invy_api/cmd/server/main.go
  pkg/tracing/graphql.go
Labels: invy-api

Revert "Add sqlcomment"
  go.mod
  go.sum
  invy_api/cmd/server/main.go
  pkg/tracing/graphql.go
Labels: invy-api

Enable sql commentor
  invy_api/cmd/server/main.go
Labels: invy-api

Use official sqlcommenter module
  go.mod
  go.sum
  invy_api/cmd/server/main.go
  pkg/tracing/graphql.go
Labels: invy-api

Fix cache step id
  .github/workflows/invy-api.yml
Labels: none

Revert "Use official sqlcommenter module"
  go.mod
  go.sum
  invy_api/cmd/server/main.go
  pkg/tracing/graphql.go
Labels: invy-api

Revert "Enable sql commentor"
  invy_api/cmd/server/main.go
Labels: invy-api

Revert "Revert "Add sqlcomment""
  go.mod
  go.sum
  invy_api/cmd/server/main.go
  pkg/tracing/graphql.go
Labels: invy-api

Enable sql open telemetry
  invy_api/cmd/server/main.go
Labels: invy-api

Fix sql tracing
  invy_api/cmd/server/main.go
  pkg/tracing/graphql.go
Labels: invy-api

Refactor push notification
  invy_api/cmd/server/main.go
  invy_api/graph/chat_util.go
  invy_api/graph/invitation.resolvers.go
  invy_api/graph/user_relation.resolvers.go
  invy_api/service/notification_service.go
  invy_api/service/service.go
Labels: invy-api

Fix ConvertMapToStructViaJSON
  pkg/convutil/convutil.go
  pkg/convutil/convutil_test.go
Labels: none

go mod tidy
  go.mod
  go.sum
Labels: none

Add test util funcitons
  pkg/testutil/error.go
Labels: none

Use bin/air
  Makefile
  tools/go.mod
  tools/go.sum
  tools/tools.go
Labels: none

Fix linker error
  app/ios/Podfile
  app/ios/Podfile.lock
Labels: app

temp
  app/lib/graphql/schema.graphql
  app/lib/graphql/schema.graphql.dart
  app/lib/screens/home_screen.dart
  app/lib/screens/invitation/inivitation_detail_form_screen.dart
  app/lib/screens/invitation/invitation_friend_select_screen.dart
  app/lib/screens/invitation/invitation_screen.dart
  app/lib/state/invitation.dart
  app/lib/state/location.dart
  app/lib/widgets/friend_group_selection_list.dart
  defs/graphql/invitation.graphql
  invy_api/ent/gql_node.go
  invy_api/ent/invitation.go
  invy_api/ent/invitation/invitation.go
  invy_api/ent/invitation/where.go
  invy_api/ent/invitation_create.go
  invy_api/ent/invitation_update.go
  invy_api/ent/migrate/schema.go
  invy_api/ent/mutation.go
  invy_api/ent/runtime.go
  invy_api/ent/schema/invitation.go
  invy_api/graph/conv/conv.go
  invy_api/graph/gqlgen/gqlgen.go
  invy_api/graph/gqlmodel/gqlmodel_gen.go
  invy_api/graph/invitation.resolvers.go
  invy_api/graph/user.resolvers.go
  invy_api/service/chat_service.go
Labels: invy-api, app, graphql

go mod tidy
  go.mod
  go.sum
Labels: none

Add test util funcitons
  pkg/testutil/error.go
Labels: none

Fix not to show onboarding screen twice
  app/lib/screens/login/login_landing_screen.dart
  app/lib/screens/login/sms_login_screen.dart
Labels: app

Update version to 1.3.0
  app/pubspec.yaml
Labels: app

Add map screen
  app/ios/Podfile.lock
  app/lib/router.dart
  app/lib/router.g.dart
  app/lib/screens/home_screen.dart
  app/lib/screens/home_screen.graphql
  app/lib/screens/home_screen.graphql.dart
  app/lib/screens/invitation/invitation_form_screen.dart
  app/lib/screens/invitation/invitation_form_screen.graphql
  app/lib/screens/invitation/invitation_form_screen.graphql.dart
  app/lib/screens/invitation/invitation_friend_select_screen.dart
  app/lib/screens/invitation/invitation_location_select_screen.dart
  app/lib/screens/invitation/invitation_screen.dart
  app/lib/screens/invitation/invitation_screen.graphql
  app/lib/screens/invitation/invitation_screen.graphql.dart
  app/lib/screens/user/user_profile_screen.dart
  app/lib/state/invitation.dart
Labels: app

Open user profile when user icon in invitation detail is tapped
  app/lib/screens/invitation/invitation_detail_screen.dart
Labels: app

Fix await invitation button in invitation screen
  app/lib/screens/invitation/invitation_screen.dart
Labels: app

Fix router
  app/lib/router.dart
  app/lib/router.g.dart
  app/lib/screens/invitation/invitation_awaiting_form_screen.dart
  app/lib/screens/invitation/invitation_awaiting_form_screen.graphql
  app/lib/screens/invitation/invitation_awaiting_form_screen.graphql.dart
  app/lib/screens/user/user_friends_screen.dart
  app/lib/screens/user/user_profile_screen.dart
Labels: app
