Repository k-yomo/invy, changes with the labels that .github/labeler.yml gives for each.
All labels: invy-api, app, graphql

.github/labeler.yml:

invy-api:
  - invy_api/**/*
app:
  - app/**/*
graphql:
  - defs/graphql/*

Fix router
  app/lib/router.dart
  app/lib/router.g.dart
  app/lib/screens/invitation/invitation_detail_screen.dart
  app/lib/screens/invitation/invitation_form_screen.dart
  app/lib/screens/map_screen.dart
Labels: app

Always require background location enabled
  app/ios/Runner.xcodeproj/project.pbxproj
  app/lib/router.dart
  app/lib/router.g.dart
  app/lib/screens/background_location_request_screen.dart
  app/lib/screens/user/user_profile_screen.dart
Labels: app

Fix requiring background location
  app/lib/router.dart
  app/lib/screens/background_location_request_screen.dart
  app/lib/screens/map_screen.dart
Labels: app

Displays the location of nearby friends on a map
  app/lib/router.g.dart
  app/lib/screens/background_location_request_screen.dart
  app/lib/screens/map_screen.dart
  app/lib/screens/map_screen.graphql
  app/lib/screens/map_screen.graphql.dart
  app/lib/util/location.dart
  app/pubspec.lock
  app/pubspec.yaml
Labels: app

Fix friend markers
  app/lib/screens/map_screen.dart
Labels: app

Add fuzzyCoordinate field to user
  app/lib/graphql/schema.graphql
  app/lib/router.dart
  app/lib/screens/background_location_request_screen.dart
  app/lib/screens/invitation/invitation_detail_screen.dart
  app/lib/screens/invitation/invitation_form_screen.dart
  app/lib/screens/invitation/invitation_friend_select_screen.dart
  app/lib/screens/invitation/invitation_screen.dart
  app/lib/screens/map_screen.dart
  app/lib/screens/map_screen.graphql
  app/lib/screens/map_screen.graphql.dart
  app/lib/screens/user/user_profile_screen.dart
  app/lib/state/invitation.dart
  app/lib/util/location.dart
  defs/graphql/invitation.graphql
  defs/graphql/schema.graphql
  defs/graphql/user.graphql
  invy_api/cmd/server/main.go
  invy_api/graph/gqlgen/gqlgen.go
  invy_api/graph/gqlmodel/gqlmodel_gen.go
  invy_api/graph/loader/loader.go
  invy_api/graph/loader/user_relation_loader.go
  invy_api/graph/user.resolvers.go
  pkg/location/location.go
  pkg/location/location_test.go
  pkg/pgutil/type.go
Labels: invy-api, app, graphql

Fix wrong parameter
  invy_api/graph/user.resolvers.go
Labels: invy-api

Make user icon on the map smaller
  app/lib/screens/map_screen.dart
Labels: app

Show warning at the top of map screen
  app/lib/screens/map_screen.dart
Labels: app

add margin top to the warning in map screen
  app/lib/screens/map_screen.dart
Labels: app

Implement force version update dialog
  app/lib/app.dart
  app/lib/graphql/schema.graphql
  app/lib/graphql/version.graphql
  app/lib/graphql/version.graphql.dart
  app/lib/router.dart
  app/lib/screens/friend/blocked_friends_screen.dart
  app/lib/screens/friend/freind_group_create_screen.dart
  app/lib/screens/friend/freind_group_detail_screen.dart
  app/lib/screens/friend/friend_qr_code_reader_screen.dart
  app/lib/screens/friend/friendship_request_screen.dart
  app/lib/screens/invitation/invitation_detail_screen.dart
  app/lib/screens/invitation/invitation_form_screen.dart
  app/lib/screens/invitation/invitation_friend_select_screen.dart
  app/lib/screens/invitation/invitation_location_select_screen.dart
  app/lib/screens/map_screen.dart
  app/lib/screens/profile/profile_edit_screen.dart
  app/lib/screens/settings_screen.dart
  app/lib/screens/user/user_friends_screen.dart
  app/lib/state/version.dart
  app/lib/widgets/dynamic_links_manager.dart
  app/lib/widgets/require_version_up_dialog.dart
  app/lib/widgets/screen_wrapper.dart
  app/pubspec.lock
  app/pubspec.yaml
  defs/graphql/invitation.graphql
  defs/graphql/version.graphql
  invy_api/graph/gqlgen/gqlgen.go
  invy_api/graph/gqlmodel/gqlmodel_gen.go
  invy_api/graph/version.resolvers.go
  invy_api/internal/device/device.go
  invy_api/internal/device/device_test.go
Labels: invy-api, app, graphql

Add cache
  docker-compose.yml
  go.mod
  go.sum
  invy_api/cmd/server/main.go
  invy_api/graph/resolver.go
  invy_api/graph/user.resolvers.go
  invy_api/internal/config/config.go
  pkg/cache/cache.go
Labels: invy-api

Configure TLS for redis connection
  invy_api/cmd/server/main.go
Labels: invy-api

Fix navigatoin after user selection for invitation
  app/lib/screens/invitation/invitation_form_screen.dart
  app/lib/screens/invitation/invitation_location_select_screen.dart
  app/lib/state/invitation.dart
  invy_api/cmd/server/main.go
  invy_api/graph/user.resolvers.go
  pkg/cache/cache.go
Labels: invy-api, app

Update README
  README.md
Labels: none

Show profile registration screen for new user
  app/lib/app.dart
  app/lib/graphql/schema.graphql
  app/lib/graphql/schema.graphql.dart
  app/lib/screens/login/login_landing_screen.dart
  app/lib/screens/login/screen_id_registration_screen.dart
  app/lib/screens/login/sign_up_screen.dart
  app/lib/screens/login/sign_up_screen.graphql
  app/lib/screens/login/sign_up_screen.graphql.dart
  app/lib/screens/login/sms_login_verification_screen.dart
  app/lib/screens/profile/profile_edit_screen.dart
  app/lib/util/file.dart
  app/lib/util/permission.dart
  app/lib/widgets/nickname_edit_form.dart
  app/lib/widgets/screen_id_edit_form.dart
  defs/graphql/auth.graphql
  go.mod
  go.sum
  invy_api/graph/auth.resolvers.go
  invy_api/graph/gqlgen/gqlgen.go
  invy_api/graph/gqlmodel/gqlmodel_gen.go
  invy_api/graph/user.resolvers.go
  invy_api/graph/user_util.go
Labels: invy-api, app, graphql

Show day of the week in the invitation list item
  app/lib/screens/invitation/invitation_screen.dart
  app/lib/widgets/invitation_list_item.dart
Labels: app

Remove unnecessary index for account
  invy_api/ent/migrate/schema.go
  invy_api/ent/schema/account.go
  invy_api/graph/auth.resolvers.go
  invy_api/graph/user_util.go
Labels: invy-api

Fix error handling of deleteAccount mutation
  app/lib/screens/settings_screen.dart
Labels: app

Format code
  app/lib/screens/login/screen_id_registration_screen.dart
  app/lib/screens/login/sign_up_screen.dart
  app/lib/screens/login/sms_login_verification_screen.dart
  app/lib/screens/profile/profile_edit_screen.dart
  app/lib/util/file.dart
  app/lib/widgets/nickname_edit_form.dart
  app/lib/widgets/screen_id_edit_form.dart
Labels: app

Add id to viewer query to utlize cache
  app/lib/screens/friend/blocked_friends_screen.graphql
  app/lib/screens/friend/blocked_friends_screen.graphql.dart
  app/lib/screens/friend/friend_group_create_screen.graphql
  app/lib/screens/friend/friend_group_create_screen.graphql.dart
  app/lib/screens/friend/friend_group_detail_screen.graphql
  app/lib/screens/friend/friend_group_detail_screen.graphql.dart
  app/lib/screens/friend/friend_group_edit_screen.graphql
  app/lib/screens/friend/friend_group_edit_screen.graphql.dart
  app/lib/screens/friend/friends_screen.graphql
  app/lib/screens/friend/friends_screen.graphql.dart
  app/lib/screens/invitation/invitation_form_screen.graphql
  app/lib/screens/invitation/invitation_form_screen.graphql.dart
  app/lib/screens/invitation/invitation_screen.graphql
  app/lib/screens/invitation/invitation_screen.graphql.dart
  app/lib/screens/map_screen.graphql
  app/lib/screens/map_screen.graphql.dart
Labels: app

Show error message with retry button when query fails
  app/lib/screens/friend/friends_screen.dart
  app/lib/widgets/api_query_error_message.dart
Labels: app

Fix typo in file names
  app/lib/router.dart
  app/lib/screens/friend/friend_group_create_screen.dart
  app/lib/screens/friend/friend_group_create_screen.graphql
  app/lib/screens/friend/friend_group_create_screen.graphql.dart
  app/lib/screens/friend/friend_group_detail_screen.dart
  app/lib/screens/friend/friends_screen.dart
  app/lib/widgets/friend_group_list.dart
Labels: app

Fix the issue permission is always denied
  app/ios/Podfile
  app/ios/Podfile.lock
  app/lib/router.dart
  app/lib/screens/background_location_request_screen.dart
Labels: app

Show loading when profile registration buttion is tapped
  app/lib/app.dart
  app/lib/screens/login/sign_up_screen.dart
Labels: app

Add sqlc
  Makefile
  invy_api/query/db.go
  invy_api/query/models.go
  invy_api/query/user_relation.sql
  invy_api/query/user_relation.sql.go
  invy_api/schema.sql
  invy_api/sqlc.yaml
  tools/go.mod
  tools/go.sum
  tools/tools.go
Labels: invy-api

Bump version to 1.3.1
  app/pubspec.yaml
Labels: app

Fix not to return user's location who blocks auth user
  .github/workflows/invy-api.yml
  Makefile
  app/lib/router.dart
  app/lib/router.g.dart
  app/lib/screens/background_location_request_screen.dart
  app/lib/screens/friend/friend_group_create_screen.dart
  app/lib/screens/friend/friends_screen.dart
  app/lib/screens/login/sign_up_screen.dart
  app/lib/screens/settings_screen.dart
  app/lib/widgets/api_query_error_message.dart
  docker-compose.yml
  go.mod
  go.sum
  invy_api/cmd/server/main.go
  invy_api/ent/client.go
  invy_api/ent/gql_collection.go
  invy_api/ent/gql_edge.go
  invy_api/ent/gql_node.go
  invy_api/ent/migrate/schema.go
  invy_api/ent/mutation.go
  invy_api/ent/schema/user.go
  invy_api/ent/schema/user_location.go
  invy_api/ent/user.go
  invy_api/ent/user/user.go
  invy_api/ent/user/where.go
  invy_api/ent/user_create.go
  invy_api/ent/user_query.go
  invy_api/ent/user_update.go
  invy_api/ent/userlocation/where.go
  invy_api/ent/userlocation_create.go
  invy_api/ent/userlocation_query.go
  invy_api/graph/loader/user_relation_loader.go
  invy_api/graph/loader/user_relation_loader_test.go
  invy_api/graph/temp.sql
  invy_api/internal/auth/testutil.go
  invy_api/internal/config/config.go
  invy_api/internal/testdata/testdata.go
  invy_api/internal/testutil/testutil.go
  pkg/testutil/error.go
  scripts/postgres-init-local.sh
Labels: invy-api, app

Fix test job in github actions
  .github/workflows/invy-api.yml
  invy_api/internal/config/config.go
  invy_api/internal/testutil/testutil.go
Labels: invy-api

Remvoe unnecessary setup
  .github/workflows/invy-api.yml
Labels: none

Refacto service layer
  Makefile
  go.mod
  go.sum
  invy_api/cmd/server/main.go
  invy_api/graph/chat.resolvers.go
  invy_api/graph/invitation.resolvers.go
  invy_api/graph/resolver.go
  invy_api/graph/user_relation.resolvers.go
  invy_api/mocks/service/chat_service/mock_chat_service.go
  invy_api/mocks/service/notification_service/mock_notification_service.go
  invy_api/mocks/service/user_service/mock_user_service.go
  invy_api/service/chat_service/chat_message.go
  invy_api/service/chat_service/chat_room.go
  invy_api/service/chat_service/chat_service.go
  invy_api/service/chat_service/notification.go
  invy_api/service/notification_service/notification_service.go
  invy_api/service/service.go
  invy_api/service/user_service/user_service.go
  tools/go.mod
  tools/go.sum
  tools/tools.go
Labels: invy-api

Bump app version to 1.3.2
  app/pubspec.yaml
Labels: app

Set distanceFilter to reduce battery consumption
  app/lib/util/background_location.dart
  invy_api/graph/loader/user_relation_loader.go
Labels: invy-api, app

Use low location accuracy to reduce battery consumption
  app/lib/util/background_location.dart
Labels: app

Set max zoom preference in map screen
  app/lib/screens/map_screen.dart
Labels: app

Cleanup invitation awaitings
  app/lib/graphql/schema.graphql
  app/lib/graphql/schema.graphql.dart
  app/lib/util/background_location.dart
  defs/graphql/invitation.graphql
  defs/graphql/user.graphql
  invy_api/ent/client.go
  invy_api/ent/config.go
  invy_api/ent/ent.go
  invy_api/ent/gql_collection.go
  invy_api/ent/gql_edge.go
  invy_api/ent/gql_node.go
  invy_api/ent/gql_pagination.go
  invy_api/ent/hook/hook.go
  invy_api/ent/intercept/intercept.go
  invy_api/ent/invitationawaiting.go
  invy_api/ent/invitationawaiting/invitationawaiting.go
  invy_api/ent/invitationawaiting/where.go
  invy_api/ent/invitationawaiting_create.go
  invy_api/ent/invitationawaiting_delete.go
  invy_api/ent/invitationawaiting_query.go
  invy_api/ent/invitationawaiting_update.go
  invy_api/ent/migrate/schema.go
  invy_api/ent/mutation.go
  invy_api/ent/predicate/predicate.go
  invy_api/ent/runtime.go
  invy_api/ent/schema/invitation_awaitings.go
  invy_api/ent/tx.go
  invy_api/graph/conv/conv.go
  invy_api/graph/gqlgen/gqlgen.go
  invy_api/graph/gqlmodel/gqlmodel_gen.go
  invy_api/graph/invitation.resolvers.go
  invy_api/graph/loader/invitation_loader.go
  invy_api/graph/loader/loader.go
  invy_api/graph/user.resolvers.go
Labels: invy-api, app, graphql

Bump app version to 1.3.3
  app/pubspec.yaml
Labels: app

Add go.mod and pubspec to the dependabot
  .github/dependabot.yml
Labels: none

Update dependencies
  app/pubspec.lock
  app/pubspec.yaml
  go.mod
  go.sum
Labels: app

Fix to show the images uploaded in a chat only for the participants
  invy_api/cmd/server/main.go
  invy_api/handler/chat_image_handler.go
  invy_api/handler/util.go
  invy_api/internal/auth/middleware.go
  invy_api/internal/config/config.go
  invy_api/service/chat_service/chat_message.go
  invy_api/service/chat_service/chat_room.go
  invy_api/service/chat_service/chat_service.go
  pkg/storage/file_uplaoder.go
  pkg/storage/gcs_file_uploader.go
Labels: invy-api
